{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <title>{{ sitesettings.title }} | Главная</title>

    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script type="text/javascript">
        var problem_dataurl = 'api/problems_set/';
        var status_dataurl = 'api/status_set/';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            addProblemLayersWithControlOnMap(map);
        });

       async function addProblemLayersWithControlOnMap(map) {

            fetch(status_dataurl)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {

                    var layer_array = {};
                    // переделать слои (у тебя всё добавляется на один слой)
                    for (var i in data){
                        var new_layer = new L.geoJSON().addTo(map);
                        status_name = data[i].name;
                        layer_array[status_name] = new_layer;
                        console.log(status.color);
                        getRoadProblemByStatus(data[i].id, data[i].color, layer_array[status_name]);


                    }
                    console.log(layer_array);
                    L.control.layers(null, layer_array).addTo(map);
                });


        }

        async function getRoadProblemByStatus(status_id, color, leaflet_layer) {
           var geojsonMarkerOptions = {
                radius: 8,
                fillColor: "#ff7800",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };

            fetch(problem_dataurl + '?' + new URLSearchParams({
                status: status_id.toString(),
            }))
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    var geoJsonLayer = new L.geoJson(data, {
                        pointToLayer: function (feature, latlng) {
                            marker = L.circleMarker(latlng);
                            marker.on('click', getProblemDetailsOnMarkerClick);
                            return marker;
                        }
                    });
                    geojsonMarkerOptions.fillColor = color
                    geoJsonLayer.setStyle(geojsonMarkerOptions);
                    leaflet_layer.addLayer(geoJsonLayer);
                });
        }

        function getProblemDetailsOnMarkerClick(e) {
            fetch('api/problem_detail/' + e.target.feature.id.toString())
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    var content = '<p>Номер проблемы: ' + data.id.toString() + '</p>';
                    content += '<p>' + data.description + '</p>';
                    content += '<p>' + data.status + '</p>';
                    e.target.bindPopup(content).openPopup();
                });
        }

    </script>

    <meta charset="utf-8">
{% endblock extrahead %}


{% block content %}
    {% if not user.is_authenticated %}
        <div class="row mb-2">
            <div class="col-sm-6 mx-auto text-center">
                Хотите сообщить о проблеме? <a href="{% url 'login' %}">Авторизуйтесь</a> или <a
                    href="{% url 'django_registration_register' %}">зарегистрируйтесь</a>.
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4 mx-auto text-center">
                <a class="btn btn-info  btn-block" href="{% url 'problems_list' %}" role="button">Список проблем</a>
            </div>
        </div>
    {% else %}
        <div class="row mb-3">
            <div class="col-sm-4 mx-auto p-2 text-center">
                <a class="btn btn-danger  btn-block" href="{% url 'report' %}" role="button">Сообщить о проблеме</a>
            </div>
            <div class="col-sm-4 mx-auto p-2 text-center">
                <a class="btn btn-info  btn-block" href="{% url 'problems_list' %}" role="button">Список проблем</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-10 mx-auto">
            {% leaflet_map "main" %}
        </div>
    </div>

{% endblock %}