{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <title>{{ sitesettings.title }} | Главная</title>

    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    <script type="text/javascript">
        var problem_dataurl = 'api/problems_set/';
        var status_dataurl = 'api/status_set/';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            addProblemLayersWithControlOnMap(map);
        });

        async function addProblemLayersWithControlOnMap(map) {

            var styleForPoints = {
                radius: 8,
                fillColor: "#ff7800",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
            fetch(status_dataurl)
                .then((response) => {
                    return response.json();
                })
                .then((status_data) => {
                    fetch(problem_dataurl)
                        .then((response) => {
                            return response.json();
                        })
                        .then((problem_data) => {
                            control = L.control.layers();
                            var layer_group = new L.layerGroup();
                            for (var status of status_data) {
                                styleForPoints.fillColor = status.color;
                                var geoJsonLayer = new L.geoJson(problem_data, {
                                    pointToLayer: function (feature, latlng) {
                                        marker = L.circleMarker(latlng);
                                        marker.on('click', getProblemDetailsOnMarkerClick);
                                        return marker;
                                    },
                                    filter: function (feature) {
                                        return (feature.properties.status === status.id);
                                    }
                                }).setStyle(styleForPoints);
                                layer_group.addLayer(geoJsonLayer);
                                control.addOverlay(geoJsonLayer, status.name);
                            }

                            control.addTo(map);
                            mcgLayerSupportGroup = L.markerClusterGroup.layerSupport();
                            mcgLayerSupportGroup.addTo(map);

                            mcgLayerSupportGroup.checkIn(layer_group);
                            layer_group.addTo(map);
                        })
                });
        }


        function getProblemDetailsOnMarkerClick(e) {
            fetch('api/problem_detail/' + e.target.feature.id.toString())
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    var content = '<p>Номер проблемы: ' + data.id.toString() + '</p>';
                    content += '<p>' + data.description + '</p>';
                    content += '<p>' + data.status + '</p>';
                    e.target.bindPopup(content).openPopup();
                });
        }

    </script>

    <meta charset="utf-8">
{% endblock extrahead %}


{% block content %}
    {% if not user.is_authenticated %}
        <div class="row mb-2">
            <div class="col-sm-6 mx-auto text-center">
                Хотите сообщить о проблеме? <a href="{% url 'login' %}">Авторизуйтесь</a> или <a
                    href="{% url 'django_registration_register' %}">зарегистрируйтесь</a>.
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4 mx-auto text-center">
                <a class="btn btn-info  btn-block" href="{% url 'problems_list' %}" role="button">Список проблем</a>
            </div>
        </div>
    {% else %}
        <div class="row mb-3">
            <div class="col-sm-4 mx-auto p-2 text-center">
                <a class="btn btn-danger  btn-block" href="{% url 'report' %}" role="button">Сообщить о проблеме</a>
            </div>
            <div class="col-sm-4 mx-auto p-2 text-center">
                <a class="btn btn-info  btn-block" href="{% url 'problems_list' %}" role="button">Список проблем</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-10 mx-auto">
            {% leaflet_map "main" %}
        </div>
    </div>

{% endblock %}