{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
{% load leaflet_tags %}
   {% leaflet_js plugins="forms" %}
   {% leaflet_css plugins="forms" %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}" />
      <script type="text/javascript">
{% comment %}

       var style = {
        "clickable": true,
        "color": "#00D",
        "fillColor": "#00D",
        "weight": 1.0,
        "opacity": 0.3,
        "fillOpacity": 0.2
    };
    var hoverStyle = {
        "fillOpacity": 0.5
    };

    var geojsonURL = 'http://localhost:8000/data/{z}/{x}/{y}.geojson';

    var geojsonTileLayer = new L.TileLayer.GeoJSON(geojsonURL, {
            clipTiles: true,
            unique: function (feature) { 
                return feature.id;
            }
        }, {
            style: style,
            onEachFeature: function (feature, layer) {
                if (feature.properties) {
                    var popupString = '<div class="popup">';
                    for (var k in feature.properties) {
                        var v = feature.properties[k];
                        popupString += k + ': ' + v + '<br />';
                    }
                    popupString += '</div>';
                    layer.bindPopup(popupString);
                }
                if (!(layer instanceof L.Point)) {
                    layer.on('mouseover', function () {
                        layer.setStyle(hoverStyle);
                    });
                    layer.on('mouseout', function () {
                        layer.setStyle(style);
                    });
                }
            }
        }
    );
    problem_register.addLayer(geojsonTileLayer);


{% endcomment %}


        
      
     var problem_dataurl = '{% url "problems_data" %}';
  var status_dataurl = '{% url "status_data" %}';

  window.addEventListener("problem_register:init", function (event) {
    var map = event.detail.map;
       
        
        // Download GeoJSON data with Ajax
        fetch(problem_dataurl)
        .then(function(resp) {
          return resp.json();
        })
        .then(function(data) {

          fetch(status_dataurl)
          .then(function(status_resp) {
            return status_resp.json();
          })
          .then(function(status_data) {



            L.geoJson(data, { 
              style: function (feature) {
                return {color: feature.properties.color};
              },             
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;           

                var content = `<p><strong>Номер проблемы:</strong> ${props.pk}</p>
                <p><strong>Описание проблемы:</strong> ${props.description}</p>                              

                <p><strong>Время добавления:</strong>${ new Date(props.created_date).toLocaleString()}</p> 

                <p><strong>Статус:</strong>${jQuery.grep(status_data , function (element, index) { return element.pk == props.status; })[0]['fields']['name']}</p>`;
                layer.bindPopup(content);

              }}).addTo(map);  
          });        
        });
      });


    </script>
<meta charset="utf-8">
{% endblock extrahead %}

{% block content %}   
<div class="row">
  <div class="col">
    <form method="post">
       {% csrf_token %}
       {{ form|crispy }}
       <button type="submit" class="btn btn-dark btn-block">Отправить</button>
    </form>
  </div>
</div>
{% endblock %}
