{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
    <title>{{ sitesettings.title }} | Создать заявку</title>
    {% load leaflet_tags %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script type="text/javascript">
        var problem_dataurl = 'api/problems_set/';
        var status_dataurl = 'api/status_set/';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            fetch(problem_dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {

                    var markers = new L.MarkerClusterGroup({
                        maxClusterRadius: 60,
                        disableClusteringAtZoom: 17,
                        spiderfyOnMaxZoom: false
                    });

                    var geojsonMarkerOptions = {
                        radius: 8,
                        fillColor: "#ff7800",
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
                    };

                    var geoJsonLayer = L.geoJson(data, {
                        pointToLayer: function (feature, latlng) {
                            marker = L.circleMarker(latlng, geojsonMarkerOptions);
                            marker.on('click', getProblemDetailsOnMarkerClick);

                            return marker;
                        }
                    });

                    markers.addLayer(geoJsonLayer);
                    map.addLayer(markers);
                });
        });

        function getProblemDetailsOnMarkerClick(e) {
            fetch('api/problem_detail/' + e.target.feature.id.toString())
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    var content = '<p>Номер проблемы: ' + data.id.toString() + '</p>';
                    content += '<p>' + data.description + '</p>';
                    content += '<p>' + data.status + '</p>';
                    e.target.bindPopup(content).openPopup();
                });
        }

    </script>
    <meta charset="utf-8">
{% endblock extrahead %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark btn-block">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
