{% extends 'map/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-sm-4 mx-auto"> 
  	{% if validlink %}
		<h4>Введите новый пароль</h4>
		<form  method="post">
		{% csrf_token %}
		<input  type="hidden"  name="next"  value="{{ next }}">
		{{ form|crispy }}
		<button  type="submit"  class="btn btn-dark btn-block">Reset</button>
		</form>
		{% else %}
		<h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
	</div>
</div>

{% endblock %}