{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-7 mx-auto">
            <p>
                Мы отправили вам инструкцию по сбросу пароля на указанный вами при регистрации адрес электронной почты.
                Вы должны получить её в ближайшее время.
            </p>
            <p>
                Если вы не получили письмо - убедитесь что вы ввели адрес, на который зарегистрирован аккаунт и
                проверьте папку 'Спам'.
            </p>
        </div>
    </div>
{% endblock %}