{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 mx-auto">
            {% if validlink %}
                <h4>Введите новый пароль</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-dark btn-block">Reset</button>
                </form>
            {% else %}
                <h1>Сброс пароля не выполнен</h1>
                <p>Ссылка для сброса пароля не верна,<br/>
                    возможно она уже использовалась. <br/>
                    Повторите сброс пароля ещё раз.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}