DEBUG=1
SECRET_KEY=<django-secret-key>
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=db_for_django_cache_test
DB_USER=testuser
DB_PASSWORD=testuser
DB_HOST=db
DB_PORT=5432
DATABASE=postgres
